<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495590716244-iev9on7qfujk1crsvq94cl45ral84id1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495590716244-iev9on7qfujk1crsvq94cl45ral84id1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>495590716244-0ah6hcpecml320f0iblokee245tjji1o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7VYI_nHraWI7GbKEao3kZy-3ofdFzGQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>495590716244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codelabs.centrocomercialtitanplaza</string>
	<key>PROJECT_ID</key>
	<string>titan-plaza-f39db</string>
	<key>STORAGE_BUCKET</key>
	<string>titan-plaza-f39db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495590716244:ios:675ef8d30b0322298a8ec1</string>
</dict>
</plist>